<!DOCTYPE html>
<html>
<head>    
</head>
<body>
    <iframe class="row1"  width="560" height="315" src="https://www.youtube.com/embed/TNEXZVKl5Vs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
 
    <iframe class="row1" width="560" height="315" src="https://www.youtube.com/embed/oiD02JNZY1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    

    <h4 class="row1">Fire Forecast</h4>

    <iframe class="row2" width="560" height="315" src="https://www.youtube.com/embed/8L_qJzi93zo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
    <iframe class="row2"width="560" height="315" src="https://www.youtube.com/embed/JTlGFsP4JeQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <form class="row1" action="http://localhost:5000/fire/1">
        <input type = "submit" value = "Fire Video 1" />
    </form>
    <form class="row1" action="http://localhost:5000/fire/2">
        <input type = "submit" value = "Fire Video 2" />
    </form>
     <form action="http://localhost:5000/fire/3">
        <input type = "submit" value = "Fire Video 3" />
    </form>
    
</body>
</html> 
