<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body{
        background-image:linear-gradient(orange, #FFECCB, #FFECCB);
    }
</style>
    <title>CacheTheHeat!</title>
    <script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.0.8/stitch.js"></script>
    <script>
        function replaceSrc(id) {
            let fullUrl;
            let numVid;
            switch(id) {

                case "vid1":
                    fullUrl = "https://www.youtube.com/embed/TNEXZVKl5Vs";
                    numVid = 1;
                    break;
                case "vid2":
                    fullUrl = 'https://www.youtube.com/embed/oiD02JNZY1Y';
                    numVid = 2;
                    break;
                case "vid3":
                    fullUrl = 'https://www.youtube.com/embed/8L_qJzi93zo';
                    numVid = 3;
                    break;
                case "vid4":
                    fullUrl = 'https://www.youtube.com/embed/61Z4gIQ_y7s';
                    numVid = 4;
                    break;
                default:
                    fullUrl = "static/0-1.mp4";
            }
            document.getElementById("testVid").src = fullUrl;
            window.location.href='http://localhost:5000/fire/' + numVid;
        }
    </script>

</head>
<body>
<style>
    #video{
    margin-top:50px;
    text-align:center;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Fire Forecast</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="agreement">Agreement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sms">Test Alert</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Videos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.youtube.com/embed/TNEXZVKl5Vs">Fire Spreading</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

    <div style="none" id="video">
        <iframe id="testVid" class="row1"  width="760" height="455" src="https://www.youtube.com/embed/TNEXZVKl5Vs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

    <!--<iframe class="row1" width="560" height="315" src="https://www.youtube.com/embed/oiD02JNZY1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    -->
    <!--<iframe class="row2" width="560" height="315" src="https://www.youtube.com/embed/8L_qJzi93zo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    
<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/61Z4gIQ_y7s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    <style>
        button{   
            display:inline-block;
        }
    </style> 

<center>
    <div class="btn group btn-group-lg form-row text-center">   
    <button class="btn btn-secondary text-center" id ="vid1" onclick=replaceSrc(this.id)>Video 1</button>
        
        <button class="btn btn-secondary text-center" id ="vid2" onclick=replaceSrc(this.id)>Video 2</button>
        
        <button class="btn btn-secondary text-center" id ="vid3" onclick=replaceSrc(this.id)>Video 3</button>
        
        <button class="btn btn-secondary text-center" id ="vid4" onclick=replaceSrc(this.id)>Video 4</button>
		
</div>
</center>
<br><br><br>
        <style>
           .db{
                text-align:center;
            } 
            #database{
                display:inline-block;
                margin-left:500px;
                margin-right:500px;
                margin-bottom:100px;
                background-color:lightgray;
                padding:20px;
                border-radius:10px;
            }
        </style>
        <div id="database">
        <p>Input a video into the database:</p>
        ID: <input class="db" type="text" id="id"><br>
        URL: <input class="db" type="text" id="url"><br>
        Video type: <input class="db"type="text" id="videostream"<br><br><br>
        <input type="submit" class="btn btn-secondary" onclick="updateToDB()" value = "Submit">
        </div>
        <script>
        console.log("test1");

const client = stitch.Stitch.initializeDefaultAppClient('firevideosdb-yrpwy');
const db = client.getServiceClient(stitch.RemoteMongoClient.factory, 'mongodb-atlas').db('VideosDB');

console.log("test2");

client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => {
    console.log(user);
    db.collection('VideosCollection').find().toArray()
});

function addToDB(){
    console.log("test3");
    const id = document.getElementById("id").value;
    const url = document.getElementById("url").value;
    const videostream = document.getElementById("videostream").value;

    const doc = { id, url, videostream };


    client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => db.collection('VideosCollection').insertOne(doc));
}
function getAllPosts(){
    client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => db.collection('VideosCollection').find());
}

function updateToDB() {
    console.log("test3");
    const vid_id = document.getElementById("id").value;
    const vid_url = document.getElementById("url").value;
    const vid_videostream = document.getElementById("videostream").value;

    const doc = { vid_id, vid_url, vid_videostream };        

//client.auth.loginWithCredential(new stitch.AnonymousCredential()).then(user => 
    db.collection('VideosCollection').updateOne({id: vid_id}, {$set:{id: vid_id, url:vid_url, videostream:vid_videostream}}, {upsert:true})
    .then(() =>
    db.collection('VideosCollection').find().asArray()
  ).then(docs => {
      console.log("Found docs", docs)
      console.log("[MongoDB Stitch] Connected to Stitch")
  }).catch(err => {
    console.error(err)
  });

}
</script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> 
